<div class="container mt-6">
  <h1>Cocktails#new</h1>
  <p>Enter your new cocktail and click sumbit </p>
    <%= simple_form_for(@cocktail) do |f| %>
     <%= f.input :name %>
     <%= f.submit %>
    <% end %>
    <%= link_to 'back to list', cocktails_path %>
</div>

