<h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p>

<%= simple_form_for([ @cocktail, @dose ]) do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit :submit, class: "btn btn-success" %>
<% end %>
