<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?cocktails/1920x1080);">
  <div class="container">
    <h1>Build<strong>your</strong> own <strong>cocktails</strong>!</h1>
    <p>Share your favorite cocktail with me.</p>
    <a class="btn btn-flat" href="#">Do it now!</a>
  </div>
</div>
