
.btn-flat {
  color: #FFFCFA;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FE5F55;
  // transition background 0.3sec ease;
  display: inline-block;
}

.btn-flat:hover {
  background: #FE5F55;
  color: #FFFCFA;
}

.btn-ghost {
  color: #FE5F55;
  border: 1px solid #FE5F55;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  display: inline-block;
}

.btn-ghost:hover {
  opacity: 1;
}
